<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">First name</label>
        <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="student.firstname" class="form-control" id="validationCustom01" placeholder="Enter your first name" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="student.lastname"  class="form-control" id="validationCustom02" placeholder="Enter your last name" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Subject</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="student.subject"  placeholder="PCM, PCMB, PCB etc" type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
            Please provide your Subject Combination
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Age</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="student.age"  type="number" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
            Enter your Age
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Class</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="student.class"  type="number" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
            Enter your Class
        </div>
    </div>
    <div style="margin: 10px ;" class="form-check">
        <input class="form-check-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.gender"  value="Female" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Female
        </label>
    </div>
    <div style="margin: 10px ;" class="form-check">
        <input value="Male" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.gender"  class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
            checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Male
        </label>
    </div> 
    
        <div style="text-align: center;" class="col-12">
            <button (click)="save()" class="btn btn-primary" type="submit">Submit form</button>
        </div>
    
    
</form>