<div class="input-group mb-3">

  <span class="input-group-text" id="basic-addon1">User Name </span>

  <input type="text" class="form-control" [(ngModel)] = "username"  placeholder="Enter Your Name"

   aria-label="Username" aria-describedby="basic-addon1">
</div>
<br/>
<div class="input-group mb-3">

    <span class="input-group-text" id="basic-addon1">Age </span>
  
    <input type="text" class="form-control" [(ngModel)] = "age"  placeholder="Enter Your Age"
  
     aria-label="" aria-describedby="basic-addon1">
  </div>

<br/>



<button (click) ="save()" class="btn btn-success">Save</button>